.hljs {
    color: var(--main-black-color);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--main-gray-color);
    /* border-radius: 5%; */
}

table, th, td {
    border: 1px solid var(--main-black-color);
    border-collapse: collapse;
    background-color: var(--main-gray-color);
  }
  

pre[class*="language-"], code[class*="language-"] {
    font-size: var(--font-h2);
}